@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sour+Gummy&display=swap');

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-sour-gummy: 'Sour Gummy', cursive;
}


body {
  color: var(--text);
  background: var(--background);
  font-family:var(--font-sour-gummy), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --text: #160504;
    --background: #ebecf6;
    --primary: #140374;
    --secondary: #fff479;
    --tertiary: #68ee9c;
    --accent: #f6baba;
    --border-list: #172554;
    --bg-list: #cfdde3;
    --shadow-list: #a2a7ad;
    --icon-list:#1e3a8a;
    --hover-icon-list: #9ca3af;
    --error-msg: #b91c1c;
    --icon-form: #7f1d1d;
    --hover-icon-form: #9ca3af;
    --input-border:  #374151;
    --input-bg: #ffffff;
    --font-roboto: 'Roboto', sans-serif;
  --font-sour-gummy: 'Sour Gummy', cursive;
  }
  .dark {
    --text: #fbeae9;
    --background: #171831;
    --primary: #140374;
    --secondary: #5baa67;
    --tertiary: #e90d0d;
    --accent: #82688f;
    --border-list: #94a3b8;
    --bg-list: #4c505a;
    --shadow-list: #965eb2;
    --icon-list:#1f2937;
    --hover-icon-list: #b12323;
    --error-msg: #a2fdc3;
    --icon-form:  rgb(30 58 138 /1);
    --hover-icon-form: #9ca3af;
    --input-border: #1e293b;
    --input-bg: #64748b;
  }
}