@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --text: #160504;
    --background: #cecfe8;
    --primary: #140374;
    --secondary: #fff479;
    --accent: #f6baba;
    --border-list: #172554;
    --bg-list: #cbd5e1;
    --shadow-list: #a2a7ad;
    --icon-list:#1e3a8a;
    --hover-icon-list: #9ca3af;
    --error-msg: #b91c1c;
    --icon-form: #7f1d1d;
    --hover-icon-form: #9ca3af;
    --input-border:  #374151;
    --input-bg: #ffffff;
    
  }
  .dark {
    --text: #fbeae9;
    --background: #171831;
    --primary: #140374;
    --secondary: #5baa67;
    --accent: #82688f;
    --border-list: #94a3b8;
    --bg-list: #4c505a;
    --shadow-list: #965eb2;
    --icon-list: #93c5fd;
    --hover-icon-list: #1f2937;
    --error-msg: #a2fdc3;
    --icon-form:  rgb(30 58 138 /1);
    --hover-icon-form: #9ca3af;
    --input-border: #1e293b;
    --input-bg: #64748b;
  }
}